{% extends "header.html" %}

{% load account socialaccount %}

{% block title %}Login{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
    <h1>Iniciar Sesión</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>Inicie sesión con la cuenta de su preferencia. O, <a href="{{ signup_url }}">registrate</a>
    e inicia sesión en el formulario de abajo:</p>

    <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">or</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>Si no tienes una cuenta todavia, llena el formulario de
    <a href="{{ signup_url }}">registro</a> primero.</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
    </form>
    <p class="text-center">¿Aún no tienes una cuenta? <a href="{% url 'account_signup' %}">Crear una cuenta</a>.</p>
    <p class="text-center"><a href="{% url 'account_reset_password' %}">¿Olvidaste tu contraseña?</a></p>
</div>

{% endblock %}
