{% extends "header.html" %}

{% block title %}Cerrar sesión{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
<h1>Cerrar Sesión</h1>

<p>¿Estás seguro que deseas cerrar la sesión?</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">Cerrar sesión</button>
</form>

</div>


{% endblock %}
