{% extends "header.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

{% if validlink %}

<div class="container py-5">
    <h1>Set a new password!</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Change my password" class="btn btn-primary">
    </form>
</div>

{% else %}

<div class="container py-5">
    <h1>Invalid password reset link!</h1>
    <p class="text">The password reset link was invalid, possibly because it has already been used. Please request a new
        password reset.</p>
</div>

{% endif %}

{% endblock %}
