{% extends 'header.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container py-5">

    {% if latest_announcements_list %}
    <h2>Últimos anuncios</h2>
    <div class="card-deck">
        {% for announcement in latest_announcements_list %}
        <div class="card bg-light border-dark mb-3">
            <div class="card-header">{{ announcement.pub_date }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ announcement.title }}</h5>
                <p class="card-text">{{ announcement.description }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ announcement.topics_list }}</small>
            </div>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <p>No announcements are available.</p>
    {% endif %}

</div>

{% endblock %}
