{% extends 'header.html' %}

{% block title %}Topics{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
    {% if user.is_authenticated %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>
            Temas de interés
        </h2>
        <p> Seleccione los temas de interés sobre los cuales quisiera ser notificado. Tan pronto se realice alguna publicación dentro de las categorías seleccionadas, le llegará una notificación. </p>
        
        {{ form|crispy }}

        <input type="submit" value="Save">
        <!-- <div class="form-check">
            {% for key, value in form.topics.field.choices %}
            <div>
                <input class="form-check-input" type="checkbox" id="id_feature_{{ key }}" value="{{key}}" name="topics">
                {% if value in user.topics %}
                <p>gaea</p>
                {% endif %}
                <label class="form-check-label" for="{{value}}">
                    {{ value }}
                </label>
            </div>
            {% endfor %}

            
        </div> -->
    </form>

    {% else %}
    <h1>

        <p>You are not logged in</p>
    </h1>
    {% endif %}
</div>

{% endblock %}